<div class="container">

    <h1>AI Resume Analyzer</h1>

    <p class="subtitle">
        Analyze your resume using AI and improve your chances of getting hired.
    </p>

    <div class="cards">

        <mat-card>

            <mat-card-title>
                Upload Resume
            </mat-card-title>

            <mat-card-content>

                Upload your latest resume.

            </mat-card-content>

            <button
                mat-raised-button
                color="primary"
                routerLink="/upload">

                Open

            </button>

        </mat-card>

        <mat-card>

            <mat-card-title>
                Resume Summary
            </mat-card-title>

            <mat-card-content>

                Generate an AI summary.

            </mat-card-content>

            <button
                mat-raised-button
                color="primary"
                routerLink="/summary">

                Open

            </button>

        </mat-card>

        <mat-card>

            <mat-card-title>
                ATS Analysis
            </mat-card-title>

            <mat-card-content>

                Get ATS score and suggestions.

            </mat-card-content>

            <button
                mat-raised-button
                color="primary"
                routerLink="/ats">

                Open

            </button>

        </mat-card>

        <mat-card>

            <mat-card-title>
                Resume Comparison
            </mat-card-title>

            <mat-card-content>

                Compare with a Job Description.

            </mat-card-content>

            <button
                mat-raised-button
                color="primary"
                routerLink="/compare">

                Open

            </button>

        </mat-card>

        <mat-card>

            <mat-card-title>
                Interview Questions
            </mat-card-title>

            <mat-card-content>

                Generate interview questions.

            </mat-card-content>

            <button
                mat-raised-button
                color="primary"
                routerLink="/interview">

                Open

            </button>

        </mat-card>

    </div>

</div>